* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif !important;
}
body a {
  text-decoration: none;
  color: inherit;
}
body p {
  margin: 0;
}

.header {
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  background-color: transparent;
}
.header .header-logo {
  width: 80px;
  height: 80px;
}
.header .header-logo img {
  width: 100%;
  height: 100%;
}
.header .header-navbar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.header .header-navbar .topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header-navbar .topBar .searchBox form {
  position: relative;
  color: #fff;
}
.header .header-navbar .topBar .searchBox form i {
  position: absolute;
  right: 20px;
  font-size: 0.8rem;
  font-weight: 300;
}
.header .header-navbar .topBar .searchBox form .form-control {
  padding: 5px 15px;
  border-radius: 25px;
  border: none;
  background: rgba(255, 255, 255, 0.3);
}
.header .header-navbar .topBar .searchBox form .form-control:focus {
  box-shadow: none;
}
.header .header-navbar .topBar .searchBox form .form-control::-moz-placeholder {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 300;
}
.header .header-navbar .topBar .searchBox form .form-control::placeholder {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 300;
}
.header .header-navbar .topBar .selectBox {
  display: flex;
  align-items: center;
  color: #fff;
  margin: 0 20px;
}
.header .header-navbar .topBar .selectBox form label i {
  margin: 0 3px;
}
.header .header-navbar .topBar .selectBox form .fa-money-bill {
  rotate: -40deg;
}
.header .header-navbar .topBar .selectBox form select {
  font-size: 0.8rem;
  color: #fff;
  background: none;
  border: none;
}
.header .header-navbar .topBar .selectBox form select:focus-visible {
  outline: none;
}
.header .header-navbar .topBar .selectBox form select option {
  color: black;
}
.header .header-navbar .topBar .selectBox .divider-line i {
  rotate: 90deg;
  font-weight: 300;
}
.header .header-navbar .topBar .shop-cart {
  margin-right: 15px;
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}
.header .header-navbar .topBar .shop-cart img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .header-navbar .topBar .shop-cart .top-dot p {
  position: absolute;
  top: -3px;
  right: -3px;
  padding: 0 4px;
  border-radius: 50%;
  background: #fff;
  color: #764d6f;
  font-size: 0.6rem;
}
.header .header-navbar .topBar .signup-btn {
  margin: 0 10px;
}
.header .header-navbar .topBar .signup-btn button {
  color: #764d6f;
  padding: 5px 25px;
  font-size: 0.8rem;
  background: #fff;
  border-radius: 25px;
}
.header .header-navbar .navBar {
  margin-top: 5px;
}
.header .header-navbar .navBar ul.nav {
  justify-content: space-between;
}
.header .header-navbar .navBar ul.nav .nav-link {
  color: #fff;
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
}
.header .header-navbar .navBar ul.nav .nav-link:hover {
  color: #b0bb1d;
  border-bottom: 2px solid #b0bb1d;
}

.footer {
  position: relative;
}
.footer .bg-img {
  width: 100%;
  height: 400px;
}
.footer .bg-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: rotate(180deg);
  -o-object-position: bottom;
     object-position: bottom;
  filter: brightness(60%);
}
.footer .ftr-content {
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 80%;
}
.footer .ftr-content .logoName {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer .ftr-content .logoName .logoImg {
  width: 50px;
  height: 50px;
}
.footer .ftr-content .logoName .logoImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer .ftr-content .logoName h4 {
  margin: 0;
  color: #e3e3e3;
}
.footer .ftr-content p.subtitle {
  font-size: 14px;
  margin: 15px 0;
  font-weight: 600;
  color: #b6b6b6;
}
.footer .ftr-content .social-icons {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
}
.footer .ftr-content .social-icons .iconBox {
  box-shadow: 0 0 2px #000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
}
.footer .ftr-content .social-icons .iconBox i {
  margin-top: 5px;
  color: white;
  vertical-align: middle;
}
.footer .ftr-content .social-icons .box-f {
  background-color: #3b5998;
}
.footer .ftr-content .social-icons .box-g {
  background: #dc4e41;
}
.footer .ftr-content .social-icons .box-i {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
.footer .ftr-content .social-icons .box-i i {
  font-size: 20px;
}
.footer .ftr-content .col-md-4 h5 {
  color: #fff;
  margin: 0;
}
.footer .ftr-content .col-md-4 span {
  display: block;
}
.footer .ftr-content .col-md-4 span i {
  color: white;
  font-size: 30px;
}
.footer .ftr-content .col-md-4 ul {
  list-style: none;
  padding-left: 0;
}
.footer .ftr-content .col-md-4 ul li {
  display: flex;
  margin-bottom: 20px;
}
.footer .ftr-content .col-md-4 ul li a {
  font-size: 14px;
  color: #b6b6b6;
  text-decoration: none;
}
.footer .ftr-content .col-md-4 ul li a:hover {
  color: #ffffff;
}
.footer .ftr-content .col-md-4 ul li .card-logo {
  display: flex;
  gap: 10px;
}
.footer .ftr-content .col-md-4 ul li .card-logo .card-img {
  position: relative;
  width: 65px;
  height: 30px;
  background: white;
  border-radius: 3px;
}
.footer .ftr-content .col-md-4 ul li .card-logo .card-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer .ftr-content .col-md-4 ul li .card-logo .card-img p {
  font-style: italic;
  color: rgb(35, 35, 35);
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 700;
  transform: translate(-50%, -50%);
  font-size: 0.6rem;
}
.footer .ftr-content span.div-line {
  color: #b6b6b6;
}
.footer .ftr-content span.div-line::before {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  margin: 30px 0;
  background: #a2a2a2;
}
.footer .ftr-content span.div-line h6 {
  font-size: 0.8rem;
  font-weight: 500;
}

.heroBanner {
  display: block;
}
.heroBanner .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.heroBanner .container-fluid .bnrWrap {
  position: relative;
}
.heroBanner .container-fluid .bnrWrap .bgImage {
  width: 100%;
  height: 600px;
}
.heroBanner .container-fluid .bnrWrap .bgImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.heroBanner .container-fluid .bnrWrap .bnrProduct {
  height: 600px;
  position: absolute;
  z-index: 100;
  bottom: -75px;
  left: 12%;
  right: auto;
}
.heroBanner .container-fluid .bnrWrap .bnrProduct img {
  width: 100%;
  height: 100%;
}
.heroBanner .container-fluid .bnrWrap .bnrText {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.heroBanner .container-fluid .bnrWrap .primary-textform {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.heroBanner .container-fluid .bnrWrap .primary-textform .txt-big-l {
  color: #f2d9b7;
  text-transform: uppercase;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 0 !important;
}
.heroBanner .container-fluid .bnrWrap .primary-textform .left-space {
  margin-left: 140px;
}
.heroBanner .container-fluid .bnrWrap .primary-textform .left-space .txt-heading {
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  line-height: 3rem;
  margin-bottom: 0 !important;
}
.heroBanner .container-fluid .bnrWrap .primary-textform .left-space .hori-line i {
  font-size: 2rem;
  font-weight: 200;
  color: #fff;
}
.heroBanner .container-fluid .bnrWrap .primary-textform .left-space .discriptiontxt {
  color: #fff;
  font-weight: 300;
}
.heroBanner .container-fluid .bnrWrap .primary-textform .left-space .btn-wrap .custom-btnwhite {
  width: 250px;
  background: #fff;
  border-radius: 30px;
  padding: 5px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #764d6f;
}
.heroBanner .container-fluid .bnrWrap .primary-textform .left-space .btn-wrap .custom-btnwhite:hover {
  color: #fff;
  background: #764d6f;
}
.heroBanner .container-fluid .bnrWrap .primary-textform .left-space .btn-wrap .custom-btnwhite .btnTxt {
  font-size: 17px;
  font-weight: 600;
}
.heroBanner .container-fluid .bnrWrap .primary-textform .left-space .btn-wrap .custom-btnwhite .btnArrow {
  font-size: 30px;
  font-weight: 100;
}

.subBanner {
  padding: 100px 0;
  display: block;
  position: relative;
}
.subBanner .img-plant {
  z-index: 1;
  width: 20%;
  height: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.subBanner .img-plant img {
  width: 100%;
  height: 100%;
}
.subBanner .primary-textform {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.subBanner .primary-textform .txt-big-l {
  font-weight: 700;
  color: #eaeaea;
  text-transform: capitalize;
  font-size: 140px;
  margin-bottom: 0 !important;
}
.subBanner .primary-textform .left-space {
  margin-left: 80px;
}
.subBanner .primary-textform .left-space .txt-heading {
  font-size: 42px;
  font-weight: 700;
  color: #a986b0;
  line-height: 3rem;
  margin-bottom: 0 !important;
}
.subBanner .primary-textform .left-space .hori-line i {
  font-size: 2rem;
  font-weight: 200;
  color: #a986b0;
}
.subBanner .primary-textform .left-space .discriptiontxt {
  color: #575757;
  font-weight: 300;
}
.subBanner .primary-textform .left-space .btn-wrap {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 15px 0;
}
.subBanner .primary-textform .left-space .btn-wrap .custom-btn {
  border: 2px solid #a986b0;
  width: 225px;
  background: #a986b0;
  border-radius: 30px;
  padding: 5px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.subBanner .primary-textform .left-space .btn-wrap .custom-btn:hover {
  color: #a986b0;
  background: #fff;
}
.subBanner .primary-textform .left-space .btn-wrap .custom-btn:focus {
  color: #a986b0;
  background: #fff;
}
.subBanner .primary-textform .left-space .btn-wrap .custom-btn .btnTxt {
  font-size: 17px;
  font-weight: 600;
}
.subBanner .primary-textform .left-space .btn-wrap .custom-btn .btnIcon {
  font-size: 30px;
  font-weight: 100;
}
.subBanner .primary-textform .left-space .btn-wrap .custom-btn-outline {
  border: 2px solid #a986b0;
  width: 225px;
  background: #fff;
  border-radius: 30px;
  padding: 5px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #a986b0;
}
.subBanner .primary-textform .left-space .btn-wrap .custom-btn-outline:hover {
  color: #fff;
  background: #a986b0;
}
.subBanner .primary-textform .left-space .btn-wrap .custom-btn-outline:focus {
  color: #fff;
  background: #a986b0;
}
.subBanner .primary-textform .left-space .btn-wrap .custom-btn-outline .btnTxt {
  font-size: 17px;
  font-weight: 600;
}
.subBanner .primary-textform .left-space .btn-wrap .custom-btn-outline .btnIcon {
  width: 30px;
  height: 30px;
}
.subBanner .primary-textform .left-space .btn-wrap .custom-btn-outline .btnIcon .bagimg {
  background-image: url("../images/shop-bag copy.svg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.subBanner .primary-textform .left-space .btn-wrap .custom-btn-outline:hover .bagimg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../images/shop-bag.svg");
}
.subBanner .primary-textform .left-space .btn-wrap .custom-btn-outline:focus .bagimg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../images/shop-bag.svg");
}
.subBanner .imageSlider-wrap {
  padding: 10px 0;
  overflow-x: hidden;
}
.subBanner .slick-arrow {
  position: absolute;
}
.subBanner .slick-slider {
  display: flex !important;
  padding: 0 70px;
  margin: 0 15px 0 0;
  align-items: center;
  justify-content: center;
}
.subBanner .slide-content .slide-imgwrap {
  width: 80%;
  margin: 0 auto;
}
.subBanner .slide-content .slide-imgwrap img {
  width: 100%;
  height: 100%;
}
.subBanner .NextArrow {
  z-index: 5;
  background-color: #eaeaea;
  border: none;
  font-size: 1.3rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 15px;
}
.subBanner .PrevArrow {
  z-index: 5;
  background-color: #eaeaea;
  border: none;
  font-size: 1.3rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 15px;
}

.sweet-salty {
  padding: 100px 0;
}
.sweet-salty .primary-textform {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.sweet-salty .primary-textform .txt-big-l {
  color: #eaeaea;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 150px;
  margin-bottom: 0 !important;
}
.sweet-salty .primary-textform .txt-heading {
  font-size: 42px;
  font-weight: 700;
  color: #a986b0;
  line-height: 3rem;
  margin-bottom: 0 !important;
}
.sweet-salty .primary-textform .hori-line i {
  font-size: 2rem;
  font-weight: 200;
  color: #a986b0;
}
.sweet-salty .primary-textform p {
  color: #836f88;
}
.sweet-salty .primary-textform .discriptiontxt {
  color: #575757;
  font-weight: 300;
}
.sweet-salty .primary-textform .tabs-wrap {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 15px 0;
}
.sweet-salty .primary-textform .tabs-wrap .custom-btn {
  position: relative;
  border: 2px solid #a986b0;
  width: 175px;
  background: #fff;
  border-radius: 25px;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a986b0;
  font-size: 15px;
}
.sweet-salty .primary-textform .tabs-wrap .active {
  color: #fff;
  background-color: #a986b0;
}
.sweet-salty .primary-textform .tab-content .tab-data {
  display: none;
}
.sweet-salty .primary-textform .tab-content .active {
  display: block;
}
.sweet-salty .primary-textform .tabs button.active:before {
  font-family: "Font Awesome 5 Pro";
  content: "\f00c";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 300;
  color: #fff;
  position: absolute;
  left: 18px;
}
.sweet-salty .primary-textform .exploreItem {
  margin-top: 30px;
}
.sweet-salty .primary-textform .exploreItem .itemBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.sweet-salty .primary-textform .exploreItem .itemBox .itemImage {
  width: 100%;
  height: 250px;
}
.sweet-salty .primary-textform .exploreItem .itemBox .itemImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.sweet-salty .primary-textform .exploreItem .itemDetails {
  width: 100%;
}
.sweet-salty .primary-textform .exploreItem .itemDetails h3 {
  font-size: 20px;
  font-weight: 600;
}
.sweet-salty .primary-textform .exploreItem .itemDetails h2 {
  color: #a986b0;
  font-size: 22px;
  font-weight: 600;
}
.sweet-salty .primary-textform .exploreItem .itemDetails .custom-btn {
  border: 2px solid #a986b0;
  width: 70%;
  background: #fff;
  border-radius: 30px;
  padding: 0px 25px;
  text-align: center;
  color: #a986b0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sweet-salty .primary-textform .exploreItem .itemDetails .custom-btn:hover {
  color: #fff;
  background: #a986b0;
}
.sweet-salty .primary-textform .exploreItem .itemDetails .custom-btn .btnTxt {
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 600;
}
.sweet-salty .primary-textform .exploreItem .itemDetails .custom-btn .btnArrow {
  font-size: 30px;
  font-weight: 100;
}
.sweet-salty .primary-textform .exploreItem .itemDetails .btnactive {
  color: #fff;
  background: #a986b0;
}

.abstract-banner {
  position: relative;
  margin: 50px 0;
}
.abstract-banner .container-fluid {
  padding: 0;
}
.abstract-banner .container-fluid .abst-Img {
  width: 100%;
  height: 500px;
}
.abstract-banner .container-fluid .abst-Img .back-theme-img {
  width: 100%;
  height: 100%;
  -webkit-mask-image: url("../images/abstract-center.png");
          mask-image: url("../images/abstract-center.png");
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
.abstract-banner .container-fluid .primary-textform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.abstract-banner .container-fluid .primary-textform .txt-big-l {
  font-weight: 700;
  color: #000;
  opacity: 0.3;
  text-transform: capitalize;
  font-size: 150px;
  margin-bottom: 0 !important;
}
.abstract-banner .container-fluid .primary-textform .txt-heading {
  text-transform: capitalize;
  margin-top: -25px;
  font-size: 38px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0 !important;
}
.abstract-banner .container-fluid .primary-textform .hori-line i {
  font-size: 2rem;
  font-weight: 200;
  color: #fff;
  margin-top: -5px;
}
.abstract-banner .container-fluid .primary-textform p {
  color: #fff;
  margin-top: -10px;
}
.abstract-banner .container-fluid .primary-textform .btn-wrap {
  margin: 0 auto;
}
.abstract-banner .container-fluid .primary-textform .btn-wrap .custom-btn {
  border: 2px solid #fff;
  width: 225px;
  background: transparent;
  border-radius: 30px;
  padding: 5px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.abstract-banner .container-fluid .primary-textform .btn-wrap .custom-btn:hover {
  background-color: #a986b0;
}
.abstract-banner .container-fluid .primary-textform .btn-wrap .custom-btn:focus {
  color: #fff;
  background: #a986b0;
}
.abstract-banner .container-fluid .primary-textform .btn-wrap .custom-btn:active {
  color: #fff;
  background: #a986b0;
}
.abstract-banner .container-fluid .primary-textform .btn-wrap .custom-btn .btnTxt {
  font-size: 17px;
  font-weight: 600;
}
.abstract-banner .container-fluid .primary-textform .btn-wrap .custom-btn .btnIcon {
  font-size: 30px;
  font-weight: 100;
}

.benefit {
  margin: 100px 0;
}
.benefit .primary-textform {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.benefit .primary-textform .txt-big-l {
  font-weight: 700;
  color: #eaeaea;
  text-transform: capitalize;
  font-size: 180px;
  margin-bottom: 0 !important;
}
.benefit .primary-textform .txt-heading {
  margin-top: -25px;
  text-transform: capitalize;
  font-size: 42px;
  font-weight: 700;
  color: #a986b0;
  line-height: 3rem;
  margin-bottom: 0 !important;
}
.benefit .primary-textform .hori-line i {
  font-size: 2rem;
  font-weight: 200;
  color: #a986b0;
}
.benefit .primary-textform p {
  color: #836f88;
}
.benefit .primary-textform .discriptiontxt {
  color: #575757;
  font-weight: 300;
}
.benefit .fruit-image {
  width: 100%;
  height: 350px;
}
.benefit .fruit-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.benefit .services {
  position: relative;
}
.benefit .services .serviceBoxl {
  width: 25%;
  position: absolute;
  left: 0;
  top: 170px;
}
.benefit .services .serviceBoxr {
  width: 25%;
  position: absolute;
  right: 0;
  top: 170px;
}
.benefit .services .icon-wrap {
  margin: 25px auto;
  width: 110px;
  height: 110px;
}
.benefit .services .icon-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.likesubBanner {
  position: relative;
  padding: 100px 0;
  display: block;
}
.likesubBanner .primary-textform {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.likesubBanner .primary-textform .txt-big-l {
  font-weight: 700;
  color: #eaeaea;
  text-transform: capitalize;
  font-size: 140px;
  margin-bottom: 0 !important;
}
.likesubBanner .primary-textform .left-space {
  margin-left: 80px;
}
.likesubBanner .primary-textform .left-space .txt-heading {
  font-size: 42px;
  font-weight: 700;
  color: #a986b0;
  line-height: 3rem;
  margin-bottom: 0 !important;
}
.likesubBanner .primary-textform .left-space .hori-line i {
  font-size: 2rem;
  font-weight: 200;
  color: #a986b0;
}
.likesubBanner .primary-textform .left-space .discriptiontxt {
  color: #575757;
  font-weight: 300;
}
.likesubBanner .primary-textform .left-space .btn-wrap {
  display: flex;
  justify-content: start;
  gap: 0;
  margin: 15px 0;
}
.likesubBanner .primary-textform .left-space .btn-wrap .custom-btn {
  border: 2px solid #a986b0;
  width: 225px;
  background: #a986b0;
  border-radius: 30px;
  padding: 5px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.likesubBanner .primary-textform .left-space .btn-wrap .custom-btn:hover {
  color: #a986b0;
  background: #fff;
}
.likesubBanner .primary-textform .left-space .btn-wrap .custom-btn:focus {
  color: #a986b0;
  background: #fff;
}
.likesubBanner .primary-textform .left-space .btn-wrap .custom-btn .btnTxt {
  font-size: 17px;
  font-weight: 600;
}
.likesubBanner .primary-textform .left-space .btn-wrap .custom-btn .btnIcon {
  font-size: 30px;
  font-weight: 100;
}
.likesubBanner .imageSlider-wrap {
  width: 50%;
  position: absolute;
  right: 0;
  left: auto;
  padding: 10px 0;
  overflow-x: hidden;
}
.likesubBanner .slide-content .slide-imgwrap {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.likesubBanner .slide-content .slide-imgwrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contactPage {
  padding: 50px 0;
}
.contactPage .primary-textform {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.contactPage .primary-textform .txt-big-c {
  text-align: center;
  font-weight: 700;
  color: #eaeaea;
  text-transform: capitalize;
  font-size: 160px;
  margin-bottom: 0 !important;
}
.contactPage .primary-textform .mailBox {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-wrap: nowrap;
}
.contactPage .primary-textform .mailBox p {
  color: #333333;
  margin: 0;
  font-size: 40px;
  line-height: 1;
  font-weight: 700;
}
.contactPage .primary-textform .mailBox .mail-wrapper {
  position: relative;
  width: 600px;
  border-radius: 30px;
  border: 2px solid #afafaf;
  display: flex;
}
.contactPage .primary-textform .mailBox .mail-wrapper input {
  padding-left: 60px;
  width: 100%;
  border: none;
  background-color: transparent;
}
.contactPage .primary-textform .mailBox .mail-wrapper input:focus-visible {
  outline: none;
}
.contactPage .primary-textform .mailBox .mail-wrapper .btn-wrap {
  margin: 2px;
}
.contactPage .primary-textform .mailBox .mail-wrapper .btn-wrap .custom-btn {
  width: 175px;
  background: #674e3f;
  border-radius: 30px;
  padding: 2px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.contactPage .primary-textform .mailBox .mail-wrapper .btn-wrap .custom-btn .btnTxt {
  font-size: 17px;
  font-weight: 600;
}
.contactPage .primary-textform .mailBox .mail-wrapper .btn-wrap .custom-btn .btnIcon {
  font-size: 30px;
  font-weight: 100;
}
.contactPage .primary-textform .mailBox .mail-wrapper::before {
  font-family: "Font Awesome 5 Pro";
  content: "\f1fa";
  vertical-align: middle;
  font-weight: 500;
  padding-left: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  color: #575757;
}
.contactPage .primary-textform .socialmedia {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contactPage .primary-textform .socialmedia p {
  color: #575757;
  font-size: 16px;
  font-weight: 600;
}
.contactPage .primary-textform .socialmedia p::after, .contactPage .primary-textform .socialmedia p::before {
  content: "";
  margin: 0 10px;
  background-color: #ebebeb;
  width: 80px;
  height: 1px;
  box-shadow: 1px 1px 2px #afafaf;
  vertical-align: middle;
  display: inline-block;
}
.contactPage .primary-textform .socialmedia .btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.contactPage .primary-textform .socialmedia .custom-btn-i {
  border-radius: 25px;
  min-width: 280px;
  background-color: #c71e7e;
  padding: 8px 20px;
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  margin-right: 10px;
}
.contactPage .primary-textform .socialmedia .custom-btn-i i {
  color: #fff;
  font-size: 20px;
  padding-right: 10px;
  transition: all 0.5s ease-in-out;
}
.contactPage .primary-textform .socialmedia .custom-btn-i span {
  font-family: "Roboto", sans-serif;
  align-self: center;
  transform: translateX(0px);
  opacity: 1;
}
.contactPage .primary-textform .socialmedia .custom-btn-i:hover {
  position: relative;
  background: linear-gradient(to right, #ff3019 0%, #c90477 100%);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
.contactPage .primary-textform .socialmedia .custom-btn-i:hover i {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 0;
  color: #fff;
}
.contactPage .primary-textform .socialmedia .custom-btn-i:hover span {
  transform: translateX(60px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.contactPage .primary-textform .socialmedia .custom-btn-i:active {
  transform: scale(1);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.contactPage .primary-textform .socialmedia .custom-btn-f {
  border-radius: 25px;
  min-width: 280px;
  background-color: #286ed6;
  padding: 8px 20px;
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactPage .primary-textform .socialmedia .custom-btn-f i {
  color: #fff;
  font-size: 20px;
  padding-right: 10px;
  transition: all 0.3s ease-in-out;
}
.contactPage .primary-textform .socialmedia .custom-btn-f span {
  align-self: center;
  transform: translateX(0px);
  transition: all 0.1s ease-in-out;
  opacity: 1;
}
.contactPage .primary-textform .socialmedia .custom-btn-f:hover {
  position: relative;
  background-color: #286ed6;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
.contactPage .primary-textform .socialmedia .custom-btn-f:hover i {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 0;
  color: #fff;
}
.contactPage .primary-textform .socialmedia .custom-btn-f:hover span {
  transform: translateX(60px);
  opacity: 0;
}
.contactPage .primary-textform .socialmedia .custom-btn-f:active {
  transform: scale(1);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}/*# sourceMappingURL=style.css.map */